<%= render "/parts/mainnav" %>

<div class="container-fluid">
<div class="row">

<!-- BEGIN PROFILE DETAILS -->
<div class="col-md-6">
   <%= render "name_head" %>

  <div class="col-md-10 col-md-offset-1">
 	<%= render "expertise" %>
	<%= render "background" %>
	<%# render "programs" %>
	<%# render "collaborations" %>
 	<%# render "networks" %>
 	<%= render "following" %>
 	<%= render "followers" %>
  </div><!-- end col-md-10 --> 	
</div><!-- end col-md-6 -->
<!-- END PROFILE DETAILS -->

	<%= render "loop" %>

</div><!-- end row -->
</div><!-- end container-fluid -->