


<!-- Navbar!!! -->  
<nav class="navbar navbar-trans" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
        <%= link_to image_tag("cowhite.png", :class => "navlogo", :alt => "cohoot?"), search_path %>
    </div>

      <ul class="nav navbar-nav navbar-right">
<% if user_signed_in? %>
        
       <li> <%= link_to image_tag("skateboard_glyph.png"), profile_page_path(current_user.id) %> </li> 
      <!-- <li> <%= link_to image_tag("radar_glyph.png"), root_path %> </li> -->
       <!-- <li> <%= link_to image_tag("heart_empty.png"), root_path %> </li> place for intake link -->
     <!--   <li> <%= link_to image_tag("envelope_glyph.png"), root_path %> </li> -->
        
        
          <li class="dropdown">
            <a href="#" class="dropdown-toggle btn-lg" data-toggle="dropdown">
            <%= current_user.full_name %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "all organizations", organizations_path %></li>
                  <li><%= link_to "all programs", programs_path %></li>
                  <li><%= link_to "all locations", locations_path %></li>
                  <li><%= link_to "all campaigns", campaigns_path %></li>
                  <li><%= link_to "all users", users_index_path %></li>
                <li class="divider"></li>
                <li> <%= link_to "My Profile", profile_page_path(current_user.id) %> </li>
                <li> <%= link_to "My Organization", organization_path(current_user.organization.id) %>
                <li><%= link_to "Edit account", edit_user_registration_path %></li>
                <li><%= link_to "Log out", logout_path, method: :delete %></li>
              </ul>   
<% else %>
            <li><%= link_to "Log In", login_path %> </li>
<% end %>   
      </ul> <!--end navbar-right -->
  </div> <!--end container-fluid -->
 </nav> <!--end navbar navbar-default" -->


