<%= render "/parts/mainnav" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Prog name:</strong>
  <%= @program.prog_name %>
</p>

<p>
  <strong>Prog obj:</strong>
  <%= @program.prog_obj %>
</p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
