<%= render "/parts/mainnav" %>
<div class="container-fluid">
	
<!-- Begin Map & Details Header -->
	<div class="row light-backgrouund">	
	<div class="container-fluid">         
		<div class="col-md-2" >	
	  	<div class="container-fluid">
	  	</br></br>
	  		<img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQzLjU0MTY2NjAzMDg4Mzc5IiB5PSI3MCIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9nPjwvc3ZnPg==" alt="..." class="img-circle">
	   </div>		
	 </div> 		

	 <div class="col-md-3" >	
	  		<br><br><br>
  			<h1><%= @program.prog_name %> <br> 
  				<small> 
  					<%= @organization.name %>
  				</small>
  			</h1> </br>
  </div>


				<div class="col-md-3 col-md-offset-4">
					<div class="continer-fluid trans-overlay img-rounded">
					<h3>Contact</h3>
					<strong> phone: </strong> 1-800-for-info </br>
					<strong> email: </strong> thisisall@mockups.com  </br></br>
	
					<strong> Space available! </strong></br></br>
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  				Refer Now
					</button>

						<!-- Modal -->
							<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							  <div class="modal-dialog">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        <h4 class="modal-title" id="myModalLabel">Sign up for <%= @program.prog_name %> </h4>
							      </div>
							      <div class="modal-body">
							      	<form>
											  <div class="form-group col-sm-6">
											    <label for="exampleInputEmail1">First Name</label>
											    <input type="string" class="form-control" id="exampleInputEmail1" placeholder="Enter your first name">
											  </div>

											  <div class="form-group col-sm-6">
											    <label for="exampleInputEmail1">Last Name</label>
											    <input type="string" class="form-control" id="exampleInputEmail1" placeholder="Enter your last name">
											  </div>

											  <div class="form-group col-sm-6">
											    <label for="exampleInputEmail1">Phone Number</label>
											    <input type="string" class="form-control" id="exampleInputEmail1" placeholder="Enter your phone number">
											  </div>

											  <div class="form-group col-sm-6">
											    <label for="exampleInputEmail1">Email</label>
											    <input type="string" class="form-control" id="exampleInputEmail1" placeholder="Enter your email">
											  </div>
							       </form>
							        
							        <strong> Select Appointment time: </strong> <br>
							        <div class="dropdown program-info">
												  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
												    Available times
												    <span class="caret"></span>
												  </button>
												  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
												    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tomorrow at 10:00am</a></li>
												    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tomorrow at 10:30am</a></li>
												    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tomorrow at 1:00am</a></li>
												    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tomorrow at 11:30am</a></li>
												  </ul>
												</div>



							       <br> <strong> Notes: </strong> <br>
							        After you create your appointment we'll send you an email to confrim. When you come, please bring a valid ID with you. Thanks, we look forward to meeting you!

							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
							        <button type="button" class="btn btn-primary">Refer</button>
							      </div>
							    </div>
							  </div>
							</div>
				</div>
				</div>	

			</div>			
	    </div> 
	 


<div class="row">	
	<div class="program-map-box">


		<div class="col-md-9">
			<iframe
  			width="100%"
  			height="500px"
  			frameborder="-5" style="border:0"
  			src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDJQhbquG-0AaxW8_R-02MbKVTkZ7uf-IQ&q=Georgia+Center+for+nonprofits+atlanta">
			</iframe>
		</div>	


		<div class="col-md-3">
			<div class="container-fluid">
				<h3> Location </h3>
					<p>
						100 Peachtree Street NW, Suite 1500 <br>
						Atlanta, GA 30303
					</p>	
			</div>

			<div class="container-fluid">
			<h3> Hours </h3>
				<p>
					
						Monday: 9:00am - 5:00pm <br>
						Tuesday: 9:00am - 5:00pm <br>
						Wednesday: 9:00am - 5:00pm <br>
						Thursday: 9:00am - 5:00pm <br>
						Friday: 9:00am - 5:00pm <br>
						Saturday: Closed <br>
						Sunday: Closed <br>
						
				</p>	
			</div>
		</div>

	</div>	
</div>	
	



<!-- Begin Body Details -->

  <div class="row">	
	

<div class="row light-backgrouund">  
  <div class="col-md-4">
  	<div class="continer-fluid fixed-overlay img-rounded">	
			<h1> Who this is for </h1> <%= @program.ideal_candidate %> </br>
			<strong> Requirements: </strong> You must live in the 30303 zip code
		</div>
  </div>

  <div class="col-md-4">
  	<div class="continer-fluid fixed-overlay img-rounded">	
    <h1> What it does </h1> 
    <strong> What this program helps you do: </strong> <%= @program.goal_condition %> </br>
  </div>
  </div>

  <div class="col-md-4">
  	<div class="continer-fluid fixed-overlay img-rounded">
    <h1> What it takes </h1> 
    <strong> Cost: </strong> free </br>
    <strong> Hours you'll spend: </strong> About 5 hours a week </br>
    <strong> Length of program: </strong> 6 weeks  </br>
  </div>
  </div>


</div> <!-- end row -->


<div class="container-fluid program-info">
<ul class="nav nav-tabs nav-justified">
  <li class="active"><a href="#">Activity</a></li>
  <li><a href="#"> <strong> Pictures </strong> </a></li>
  <li><a href="#"> <strong> Program Details </strong> </a></li>
  <li><a href="#"> <strong> Documents </strong> </a></li>
  <li><a href="#"> <strong> Similar Programs </strong> </a></li>
  <li><a href="#"> <strong> People </strong> </a></li>
  <li><a href="#"> <strong> Followers </strong> </a></li>
</ul>
</div>


</br></br></br></br></br></br></br></br></br></br></br></br>




</div>
</div>

</br></br></br></br></br></br></br></br></br></br>