
<%= render "/parts/mainnav" %>
<div class="container-fluid">
  <div class="row">

      <div class="form-group">
        <%= form_for @search, 
          as: :search, url: results_path, 
          method: 'get', 
          :html => {:class => "form-horizontal center"} do %>
              <div class="form-inline col-lg-12 col-lg-offset-4">
                <%= text_field_tag :q, params[:q], class: "form-control input-lg", placeholder: "What's your goal?" %>
                <%= submit_tag "Search!",  class: "btn btn-lg btn-primary col-sm-offset-1" %> 
              </div> 
          <% end %> 
      </div> 

</div>

</br></br></br>
 	<div class="container-fluid">
	<div class="row">

    <div class="col-lg-3">
      People
    </div>

    <div class="col-lg-3">
      Networks and Collaborations
    </div>

    <div class="col-lg-3">
      Organizations</br>
      <%# @results.each do |r| %>
           <%# link_to r.name, organization_path(r.id) %> </br>
      <%# end %>

    </div>

    <div class="col-lg-3">
      Programs </br> </br>
      <% @results.each do |r| %>
           <%= link_to r.prog_name, program_path(r.id) %> at <%= link_to @prog_org.name, 
              organization_path(@prog_org.id) %></br>
           What we do: <%= r.prog_obj%> </br>
           How to connect: <%= r.next_step %> </br></br>
      <% end %>
    </div>
	</div>
 </div>



</div>