<% if @followed %> 

<h1>You are about to follow: <%= @followed.full_name %></h1>

<%= form_for @follow_user, method: :post do |form| %>
	<div class= "form form-actions">
		<%= form.hidden_field :followed_id, value: @followed %>
		<%= form.hidden_field :follower_id, value: @follower %>
		<%= submit_tag "follow", class: 'btn btn-default' %>
	</div>

<% end %>

<% end %>

