<div class="container-fluid">



<%= simple_form_for @organization,
    defaults: { input_html: { :class => 'form-horizontal span6 form-control' } } do |f| %>
 
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this status from being saved:</h2>
      <ul>
      <% @organization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="row info">
    <%= f.input :name,  placeholder: 'Organization Name', label: 'Organization'  %>
  </div>
  
  <div class="row info">
    <%= f.input :tagline,  placeholder: 'Your Tagline', label: 'Tagline'  %>
  </div>

  <div class="row info">
    <%= f.input :content,  placeholder: 'Your Mission', label: 'Mission'  %>
  </div>

  <div class="row info">
    <%= f.input :history,  placeholder: 'Organization history', label: 'History'  %>
  </div>

  <div class="row info">
    <%= f.input :website,  placeholder: 'website url', label: 'Website'  %>
  </div>



  <%= f.button :submit %>
<% end %>

</div>
