<%= render "/parts/mainnav" %>

<div class="container-fluid">
<div class="row">

<div class="col-md-4 col-sm-offset-1">
<h1 class="cover-heading"><%= @organization.name %></h1>
   <p class="lead"><%= @organization.content %></p> </br>
   <p>
    <strong> Focus </strong> </br>
    Text text text Text text text Text text text Text text text Text text text Text text text Text text text Text text text Text text text Text text text Text text text Text text text Text text text Text text text
  </p>  

  <p>
    <strong> History </strong> </br>
    Text text text Text text text Text text text Text text text Text text text Text text text Text text text Text text text Text text text Text text text Text text text Text text text Text text text Text text text
  </p>   
</br>
  
   
<%= render "/parts/org_basic" %>	
 
</div>	
<%= render "/parts/org_feed" %>



<div class="col-md-2 pull-right">
<%= render "/parts/org_location" %>

</div>




</div> <!--end row-->
</div> <!--end col-md-4 col-md-offset-1-->
</div> <!--end container-fluid-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>

